.dest-preview {
    cursor: pointer;
    &-img-container {
        height: 250px;
        margin-bottom: 14px;

        img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit:fill;
            border-radius: 5px;
        }
    }
    .info-container {
        display: flex;
        justify-content: space-between;
    }

    &-info {
        font-size: 15px;
        p {
            &:not(:last-of-type) {
                margin-bottom: 7px;
            }
            &:last-of-type {
                margin-top: 6px;
            }
        }
    }

    &-price {
        font-weight: 800;
    }

    &-rating {
        align-items: baseline;

        span {
            margin-left: 4px;
        }

        .rating-img {
            height: 12px;
            width: 12px;
        }
    }

    .slick-dots {
        bottom: 23px;
        li button::before {
            color: $clr6;
            opacity: 0.6;
        }

        .slick-active button::before {
            color: $clr6;
            opacity: 1;
        }
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev {
        left: 10px;
        &:not(.slick-disabled) {
            z-index: 20;
        }
    }
}