.dest-preview {
  cursor: pointer;
  position: relative;

  .like-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &:hover {
    .slick-arrow {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }

  &-img-container {
    height: 250px;
    margin-bottom: 14px;
    outline: none;

    img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: fill;
      border-radius: 5px;
    }
  }
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-top: -7px;
  }

  &-info {
    font-size: 15px;
    p {
      &:not(:last-of-type) {
        margin-bottom: 1px;
      }
      &:last-of-type {
        margin-top: 6px;
      }
    }
  }

  &-price {
    font-weight: 800;
  }

  &-rating {
    align-items: baseline;

    span {
      margin-left: 4px;
    }

    .rating-img {
      height: 12px;
      width: 12px;
    }
  }
}
