.dest-preview {
    p {
        &:not(:last-of-type) {
            margin-bottom: 7px;
        }
        &:last-of-type {
            margin-top: 6px;
        }
    }

    &-img-container {
        height: 250px;
        margin-bottom: 14px;

        img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit:fill;
            border-radius: 5px;
        }
    }

    &-info {
        font-size: 15px;
    }

    &-price {
        font-weight: 800;
    }
}