.main-header {
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: $clr6;
  z-index: 10;
  .container {
    height: inherit;
    & > * {
      height: 47px;
    }
    .logo {
      .logo-name {
        color: #ff385c;
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: cereal-bold;
        // height: 22px;
        // width: 66px;
      }
      img {
        height: 41px;
        width: 42px;
      }
    }
    .search-bar {
      box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
      border-radius: 40px;
      border: 1px solid $clr5;
      transition: box-shadow 0.2s ease;
      width: 352px;
      cursor: pointer;
      font-family: cereal-book;
      font-size: 15px;
      .search-icon {
        justify-content: center;
        background-color: $clr4;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        color: $clr6;
        margin: 7px 7px 7px 0;
        img {
          height: 14px;
        }
      }
      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      }
      & > * {
        padding: 0 1rem;
        &:nth-last-child(2) {
          color: $clr2;
        }
        &:not(:nth-last-child(2)) {
          font-weight: 600;
          border-right: 1px solid $clr5;
        }
      }
    }
    .user-setting {
      .host-link {
        font-family: cereal-book;
        font-size: 15px;
        font-weight: 600;
        height: 100%;
        border-radius: 22px;
        cursor: pointer;
        padding: 12px;
        margin-inline-end: -3px;
        &:hover {
          background-color: $clr7;
        }
      }
      .i18-container {
        width: 47px;
        height: 47px;
        border-radius: 40px;
        cursor: pointer;
        margin-inline-end: 7px;
        justify-content: center;
        &:hover {
          background-color: $clr7;
        }
        .i18 {
          width: 17px;
        }
      }
      .log-in {
        border: 1px solid $clr5;
        border-radius: 40px;
        padding: 5px 5px 5px 12px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        }
        .user {
          height: 30px;
          width: 30px;
          margin-left: 12px;
        }
        .nav {
          width: 17px;
        }
      }
    }
  }
}
