* {
  box-sizing: border-box;
  font-family: circular-light, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $clr1;
}

a {
  color: unset;
  text-decoration: none;
}

p {
  margin: 0;
}
