* {
    box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

body {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

p {
    margin: 0;
}