// Flex
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-items: center;
}
.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bold-text {
  color: $clr1;
  font-weight: 600;
}

.light-text {
  color: $clr2;
}
