// Flex 
.flex {
    display: flex;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bold-text {
    color: $clr-bold;
    font-weight: 600;
}

.light-text {
    color: $clr-light;
}